.wrapper {
  position: relative;
  background-color: black; /* White background for the area below */
  z-index: 1; /* Ensure it's below the questionContainer */
}

.questionContainer {
  color: white;
  display: flex;
  padding: 0 170px;
  padding-top: 30px;
  flex-direction: column;
  position: relative;
  top: -50px;
  background-color: black;
}

.questionContainer h1 {
  font-size: 25px;
}

.questionCardContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 20px;
}

.questionCardContainer li {
  font-size: 25px;
  width: 100%;
  display: flex;
  flex-direction: column; /* Stack the question and content */
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden; /* Hide the content overflow */
  transition: background-color 0.3s ease;
}

.questionCardContainer li:hover {
  background-color: rgba(255, 255, 255, 0.322);
}

.questionItemHeader {
  display: flex;
  justify-content: space-between; /* Align question and icon */
  align-items: center;
  padding: 0 20px;
  height: 84px; /* Set fixed height for the question section */
}

.questionItemHeader label {
  cursor: pointer;
}

.icon {
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(45deg);
}

.content {
  max-height: 0; /* Initially hidden */
  overflow: hidden; /* Hide content overflow */
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease; /* Animation for sliding */
}

.expanded .content {
  max-height: 250px; /* Adjust based on the expected content height */
  padding: 10px 20px;
}

@media (max-width: 768px) {
  .questionContainer {
    padding: 0 20px; /* Adjust padding for smaller screens */
  }

  .questionCardContainer {
    padding: 0; /* Ensure no extra padding */
  }

  .questionCardContainer li {
    width: 100%; /* Ensure cards take full width */
    flex-direction: column; /* Stack content vertically */
  }

  .questionItemHeader {
    padding: 10px 20px; /* Adjust padding for smaller screens */
  }

  .expanded .content {
    max-height: 1000px;
  }
}
